{% extends "base.html" %}
{% block stylesheet %}
    <style>

    </style>
{% endblock %}
{% block body %}

    <form method="post" action="{{ url_for('add_psy') }}">
        <div class="card" id="add_psy_card">
            <div class="card-body">
                <h5 class="card-title">Добавить психолога</h5>
                <div class="form-group">
                    <label for="loginField">Логин</label>
                    <input class="form-control" id="loginField" type="text" name="login" required>
                </div>
                <div class="form-group">
                    <label for="passwordField">Пароль</label>
                    <input class="form-control" id="passwordField" type="text" value="{{ pas }}" name="password"
                           required>
                </div>

                <div class="form-group">
                    <label for="IdField">Идентификатор</label>
                    <input class="form-control" id="IdField" type="text" name="ident" required>
                </div>

                <div class="form-group">
                    <label for="countField">Кол-во</label>
                    <input class="form-control" id="countField" type="number" name="count" required>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Добавить психолога">
                </div>
                <div class="form-group">
                    <label for='test1'>Тест 1: </label>
                    <input id="test1" type="checkbox" value=" 1" name="t1">
                </div>
                <div class="form-group">
                    <label for='test2'>Тест 2: </label>
                    <input id="test2" type="checkbox" value=" 2" name="t2">
                </div>
            </div>
        </div>

    </form>
    {% if msg %}
        <span style="color: #ffffff; background-color: rgb(170, 1, 1);">{{ msg }}</span>
    {% endif %}

    <p>&nbsp;</p>

    <h4>Количество Психологов: <span class="badge badge-secondary">{{ counters['psy_count'] }}</span></h4>
    <h4>Количество Испытуемых: <span class="badge badge-secondary">{{ counters['testee_count'] }}</span></h4>

    <p>&nbsp;</p>
    <h1 class="display-3">Список Психологов:</h1>

    <table class="table">
        <thead>
        <tr>
            <th><a href={{ url_for('admin', sort_by='ident') }}>ID</a></th>
            <th><a href={{ url_for('admin', sort_by='login') }}>Логин</a></th>
            <th>Пароль</th>
            <th><a href={{ url_for('admin', sort_by='count') }}>Доступно</a></th>
            <th>Тесты</th>
            <th><a href={{ url_for('admin', sort_by='create_date') }}>Дата создания</a></th>
            <th><a href={{ url_for('admin', sort_by='pre_del') }}>Удалиться</a></th>
        </tr>

        </thead>
        {% for psy in psys %}
            <tr>
                <td>{{ psy['ident'] }}</td>
                <td>{{ psy['login'] }}</td>
                <td>{{ dec(psy['pas']) }}</td>
                <td>{{ psy['count'] }}</td>
                <td>{{ " ".join(psy['tests']) }}</td>
                <td>{{ t2st(psy['create_date']) }}</td>
                {% if psy['pre_del'] %}
                    <td>{{ t2st(psy['pre_del']) }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td>
                    <a class="btn btn-primary" href="{{ url_for('psyinfo', _id=psy['_id']) }}">Подробнее</a>
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
