{% extends "base.html" %}
{% block body %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        {% if status=='psy' %}
            <div class="col-md-6">
                <div class="card border-0 shadow" id="add_testees_card">
                    <div class="card-body">
                        <form method="post" action="{{ url_for('add_testee') }}">
                            <h5 class="card-title">Добавить испытуемых</h5>
                            <h5 class="card-title">Доступно {{ count }}</h5>
                            <div class="form-group">
                                <label for="gradeField">Класс</label>
                                <input class="form-control" id="gradeField" type="text" name="grade" required>
                            </div>

                            <div class="form-group">
                                <label for="countField">Кол-во</label>
                                <input class="form-control" id="countField" type="number" min="1" max="{{ count }}" name="count" required>
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-success" value="Добавить испытуемых">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h5 class="card-title">{% if psy %} {{ psy['login'] }} {% endif %} Общая статистика</h5>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Всего испытуемых
                            <span>{{ counters['testee_count'] }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Количество классов
                            <span>0</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Еще не протестированы
                            <span>0</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Вне групп риска
                            <span>0</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            В группах риска
                            <span>0</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h2 class="display-4 mt-5">Список классов</h2>
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
            <tr>
                <th scope="col"><a href={{ url_for('psy', sort_by='col1') }}>Класс</a></th>
                <th scope="col"><a href={{ url_for('psy', sort_by='col2') }}>Общее Кол-во</a></th>
                <th scope="col"><a href={{ url_for('psy', sort_by='col3') }}>Нет результата</a></th>
                <th scope="col"><a href={{ url_for('psy', sort_by='col4') }}>Безопасны</a></th>
                <th scope="col"><a href={{ url_for('psy', sort_by='col4') }}>В группах риска</a></th>
                <th></th>
            </tr>
            </thead>

            {% for grade in grades %}
                <tr>
                    <td>{{ grade }}</td>
                    <td>{{ 0 }}</td>
                    <td>{{ 0 }}</td>
                    <td>{{ 0 }}</td>
                    <td>{{ 0 }}</td>

                    <td><a class="btn btn-success" href="{{ url_for('grade', name=b64enc(grade)) }}"> Просмотреть</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
