{% extends "base.html" %}
{% block body %}

    <h4 class="title">
        Ниже приводится 20 утверждений о Вашем будущем. Выберите «ВЕРНО»,
        если Вы согласны с утверждением, или «НЕВЕРНО», если Вы не согласны.
    </h4>
    <div class="card border-0 shadow" id="add_testees_card">
        <form method="post" action="{{ url_for('testee') }}">
            <div class="card-body">
                <h5 class="card-title">
                    Я жду будущего с надеждой и энтузиазмом
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q1" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q1" value="1" >
                        НЕВЕРНО
                    </label>
                </div>

                <span id="msg1" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <div class="card-body">
                <h5 class="card-title">
                    Мне пора сдаться, так как я ничего не могу изменить к лучшему

                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q2" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q2" value="1" >
                        НЕВЕРНО
                    </label>

                </div>
                <span id="msg1" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 3 -->
            <div class="card-body">
                <h5 class="card-title">
                    Когда дела идут плохо, мне помогает мысль, что так не может продолжаться всегда
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q3" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q3" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg3" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 4 -->
            <div class="card-body">
                <h5 class="card-title">
                    Я не могу представить, на что будет похожа моя жизнь через 10 лет
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q4" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q4" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg4" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 5 -->
            <div class="card-body">
                <h5 class="card-title">
                    У меня достаточно времени, чтобы завершить дела, которыми я больше всего хочу заниматься
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q5" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q5" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg5" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 6 -->
            <div class="card-body">
                <h5 class="card-title">
                    В будущем, я надеюсь достичь успеха в том, что мне больше всего нравится
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q6" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q6" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg6" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 7 -->
            <div class="card-body">
                <h5 class="card-title">
                    Будущее представляется мне во тьме
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q7" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q7" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg7" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 8 -->
            <div class="card-body">
                <h5 class="card-title">
                    Я надеюсь получить в жизни больше хорошего, чем средний человек
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q8" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q8" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg8" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 9 -->
            <div class="card-body">
                <h5 class="card-title">
                    У меня нет никаких просветов и нет причин верить, что они появятся в будущем
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q9" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q9" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg9" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 10 -->
            <div class="card-body">
                <h5 class="card-title">
                    Мой прошлый опыт хорошо меня подготовил к будущему
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q10" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q10" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg10" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 11 -->
            <div class="card-body">
                <h5 class="card-title">
                    Всё, что я вижу впереди – скорее, неприятности, чем радости
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q11" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q11" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg11" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 12 -->
            <div class="card-body">
                <h5 class="card-title">
                    Я не надеюсь достичь того, чего действительно хочу
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q12" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q12" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg12" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 13 -->
            <div class="card-body">
                <h5 class="card-title">
                    Когда я заглядываю в будущее, я надеюсь быть счастливее, чем я есть сейчас
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q13" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q13" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg13" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 14 -->
            <div class="card-body">
                <h5 class="card-title">
                    Дела идут не так, как мне хочется
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q14" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q14" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg14" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 15 -->
            <div class="card-body">
                <h5 class="card-title">
                    Я сильно верю в своё будущее
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q15" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q15" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg15" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 16 -->
            <div class="card-body">
                <h5 class="card-title">
                    Я никогда не достигаю того, что хочу, поэтому глупо что-либо хотеть
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q16" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q16" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg16" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 17 -->
            <div class="card-body">
                <h5 class="card-title">
                    Весьма маловероятно, что я получу реальное удовлетворение в будущем
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q17" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q17" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg17" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 18 -->
            <div class="card-body">
                <h5 class="card-title">
                    Будущее представляется мне расплывчатым и неопределённым
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q18" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q18" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg18" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 19 -->
            <div class="card-body">
                <h5 class="card-title">
                    В будущем меня ждёт больше хороших дней, чем плохих
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q19" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q19" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg19" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>

            <!-- Вопрос 20 -->
            <div class="card-body">
                <h5 class="card-title">
                    Бесполезно пытаться получить то, что я хочу, потому, что, вероятно, я не добьюсь этого
                </h5>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q20" value="0" >
                        ВЕРНО
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="q20" value="1" >
                        НЕВЕРНО
                    </label>
                </div>
                <span id="msg20" style="color: #ffffff; background-color: rgb(170, 1, 1);"></span>
            </div>


            <div class="form-group"><input type="submit" class="btn btn-info" value="Готово"></div>
        </form>
    </div>

{% endblock %}