{% extends "base.html" %}
{% block body %}
        <a>
          <font size="6" face="Trebuchet MS">Доступно: {{ count }}</font></a>
        <p>&nbsp;</p>
        <div class="row">
          <div class="">
            <div class="card">
              <div class="card-body">
                <form method="post" action="{{ url_for('add', status='testee') }}">
                    <div class="form-group">
                      <label for="countField">Кол-во</label>
                      <input id="countField" type="number" min="1" max="{{ count }}" name="count" required>
                    </div>
                    <div class="form-group">
                      <label for="gradeField">Класс</label>
                      <input id="gradeField" type="text" name="grade" required>
                    </div>
                    <input type="submit" class="btn btn-success" value="Добавить испытуемых">
                </form>
              </div>
            </div>

          </div>
        </div>

         <p>&nbsp;</p>
        <h2 size="6" face="Trebuchet MS">Список Испытуемых:</h2>

        <table class="table" >
          <thead>
            <tr>
              <th scope="col"><a href={{ url_for('psy', sort_by='result') }}>Результат</a></th>
              <th scope="col"><a href={{ url_for('psy', sort_by='login') }}>Логин</a></th>
              <th scope="col">Пароль</th>
              <th scope="col"><a href={{ url_for('psy', sort_by='grade') }}>Класс</a></th>
              <th scope="col"><a href={{ url_for('psy', sort_by='create_date') }}>Дата создания</a></th>
            </tr>
          </thead>
          {% for testee in testees %}
          <tr>
            <td>{{ testee['result'] }}</td>
            <td>{{ testee['login'] }}</td>
            <td>{{ dec(testee['pas']) }}</td>
            <td>{{ testee['grade'] }}</td>
            <td>{{ t2st(testee['create_date']) }}</td>
          </tr>
          {% endfor %}

        </table>
{% endblock %}
