.custom-control-input.danger {
  position: absolute;
  left: 0;
  z-index: -1; // Put the input behind the label so it doesn't overlay text
  width: $custom-control-indicator-size;
  height: ($font-size-base * $line-height-base + $custom-control-indicator-size) / 2;
  opacity: 0;


  &:checked ~ .custom-control-label::before {
    color: $danger;
    border-color: $danger;
    @include gradient-bg($danger);
    @include box-shadow($danger);
  }

  &:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 $input-btn-focus-width rgba($red, .25);
    // the mixin is not used here to make sure there is feedback
    /*@if $enable-shadows {
      box-shadow: $input-box-shadow, $input-focus-box-shadow;
    } @else {
      box-shadow: $custom-control-indicator-focus-box-shadow;
    }*/
  }

  &:focus:not(:checked) ~ .custom-control-label::before {
    border-color: lighten($danger, 25%);
  }

  &:not(:disabled):active ~ .custom-control-label::before {
    color: $custom-control-indicator-active-color;
    background-color: lighten($danger, 35%);
    border-color: $danger;
    @include box-shadow(none);
  }

  // Use [disabled] and :disabled to work around https://github.com/twbs/bootstrap/issues/28247
  &[disabled],
  &:disabled {
    ~ .custom-control-label {
      color: $custom-control-label-disabled-color;

      &::before {
        background-color: $custom-control-indicator-disabled-bg;
      }
    }
  }
}
